.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

nav {
  margin: 0 auto;
}

nav li {
  list-style: none;
  padding-top: 1.5rem;
}

nav li a {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text-color);
}

nav li a:hover {
  color: #94a3b8;
}
